/Aulas/Aula02/AloMundo02/nbproject/private/
/Aulas/Aula02/AloMundo02/build/
/Aulas/Aula03/ComandosDecisao/nbproject/private/
/Aulas/Aula03/ComandosDecisao/build/
/Aulas/Aula03/ComandosDecisao/dist/
/Aulas/Aula04/AulaScanner/nbproject/private/
/Aulas/Aula04/AulaScanner/build/
/Aulas/Aula05/TiposLoops/nbproject/private/
/Aulas/Aula05/TiposLoops/build/
